.weather-app {
  text-align: center;
  border: 1px solid grey;
  padding: 20px;
  margin: 20px auto;
  max-width: 650px;
  border-radius: 5px;
}
.city,
#temperature,
#weather-extras {
  text-align: center;
  line-height: 29px;
}

.city {
  font-size: 45px;
  font-weight: 200;
  text-align: left;
  margin-bottom: 0px;
}

#temperature {
  left: 10%;
  font-weight: 250;
  font-size: 45;
}

.temp {
  left: 10%;
  font-weight: 250;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: thin;
}

.date {
  list-style: none;
  font-size: 18px;
  font-weight: thin;
  text-align: center;
  padding: none;
  margin-top: -20px;
}

#temp-description {
  list-style: none;
  display: block;
  font-size: 18px;
  font-weight: thin;
  margin-top: -8px;
  text-transform: capitalize;
}

#f-link,
#celsius-link,
#temp-bar {
  position: relative;
  top: -10px;
  text-decoration: none;
  font-size: 18px;
  padding: none;
  margin-left: -7px;
}

#icon {
  max-width: 40px;
  max-height: 40px;
  position: relative;
}

.weather-extras {
  list-style: none;
  display: block;
  font-size: 15px;
  font-weight: 200;
}

button {
  background: green;
  color: white;
  margin: 0 auto;
  border-radius: 5%;
}

.search-button {
  background: #0a5ed7;
  color: white;
  border-radius: 5%;
}

#github {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
  font-size: 17px;
}

#flaticon {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
