.weather-app {
  text-align: center;
  border: 1px solid grey;
  padding: 20px;
  margin: 20px auto;
  max-width: 550px;
  border-radius: 5px;
}
.city,
#temperature,
#weather-extras,
#icon {
  text-align: center;
  line-height: normal;
}

.city {
  font-size: 45px;
  font-weight: 200;
  text-align: left;
  padding: none;
  margin-bottom: 0px;
}

#temperature {
  left: 10%;
  color: black;
  font-weight: 200;
  font-size: 100;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: thin;
}

.date {
  list-style: none;
  font-size: 18px;
  font-weight: thin;
  text-align: center;
  padding: none;
  margin-top: -20px;
}

#temp-description {
  list-style: none;
  display: block;
  font-size: 18px;
  font-weight: thin;
  margin-top: -5px;
  text-transform: capitalize;
}

#f-link,
#celsius-link,
#temp-bar {
  position: relative;
  top: -12px;
  text-decoration: none;
  font-size: 15px;
  padding: none;
  font-weight: 250;
}

#celsius-link {
  position: relative;
  margin-left: -5px;
}

#icon {
  max-width: 55px;
  max-height: 55px;
  padding-top: 2px;
  position: relative;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-extras {
  list-style: none;
  display: block;
  font-size: 15px;
  font-weight: 200;
}

button {
  background: green;
  color: white;
  margin: 0 auto;
  border-radius: 5%;
}

.search-button {
  background: #0a5ed7;
  color: white;
  border-radius: 5%;
}

.card-body {
  text-align: center;
}

.forecast-day {
  font-size: 20px;
}

.forecast-max {
  font-size: 20px;
  color: black;
}

.forecast-min {
  opacity: 0.8;
  font-size: 18px;
}

#github {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
  font-size: 17px;
}

#flaticon {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
