.weather-app {
  border: 1px solid grey;
  padding: 20px;
  margin: 20px auto;
  max-width: 640px;
  border-radius: 10px;
}
.city,
.temp {
  text-align: center;
}

.city {
  font-size: 37px;
}
.temp {
  left: 10%;
}

.date {
  list-style: none;
  font-size: 18px;
  text-align: center;
  padding: none;
  margin: none;
}

#temp-description {
  list-style: none;
  display: block;
  font-size: 18px;
  font-weight: thin;
  margin-top: -8px;
  text-transform: capitalize;
}

#farenheit-link,
#celsius-link,
#temp-bar {
  text-decoration: none;
  font-size: 18px;
}

button {
  background: green;
  color: white;
  margin: 0 auto;
  border-radius: 5%;
}

.search-button {
  background: #0a5ed7;
  color: white;
  border-radius: 5%;
}

#github {
  display: block;
  margin: 0 auto;
  text-align: center;
}
